@use "_variables";

.hero {
	background: url("../images/grit-logo.png");
	background-color: variables.$bg-color;
	/* background-size: cover; */
	background-position: center;
	min-height: 300px;
	background-repeat: no-repeat;
}
